body {
    background-color: #FCEBB6; 
    background-image: url('images/fadedroad50.jpg'); 
    background-attachment: fixed;
    background-size: cover;
    background-position: center; 
    color: #221811;
    font-family: Tahoma, Arial, sans-serif;
}


* {box-sizing: border-box;}

#homehero, #heromugs, #heroguitar {
    background-size: 100%;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
}

#homehero {
    background-image: url('images/hero.jpg')
}

#heromugs {
    background-image: url('images/heromugs.jpg')
}

#heroguitar {
    background-image: url('images/heroguitar.jpg')
}

#wrapper {
    background-color: #231814; /* Dark background for left column */
    padding: 0;
}

header {
    background-image: url('images/coffeelogo.jpg');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 240px;
    color: #231814;
    background-color: #D2B48C;
    padding-top: 5px;
    padding-bottom: 5px;
}

header a:link, 
header a:visited {
    color: #231814;
    text-decoration: none;
}

li {
    text-align: center;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header a:hover {
    color: #FEF6C2;
}

h1 {
    font-size: 3em;
}

h2 {
    color: #8C3826;
}

h3 {
    color: #8C3826; 
}

h4 {
    text-transform: uppercase;
    border-bottom: 2px solid #231814;
    padding-bottom: 0;
    clear: left;
}

dt {
    color: #8C3826;
}
/*Nav-Bar*/
nav {
    float: left;
    width: 200px;
}

nav a:link {
    color: #FEF6C2;
    text-decoration: none;
}

nav a:visited {
    color: #D2B48C;
}

nav a:hover {
    color: #CC9933;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

footer {
    background-color: #8C3826;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding: 1em;
    border-top: 2px;
}

#hero-image {
    width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

img {
    border-style: none;
    max-width: 100%;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
}

main {
    margin-left: 200px;
    padding: 0;
    background-color: #FEF6C2;
    overflow: auto; 
}

main h2, 
main h3, 
main h4, 
main p, 
main div, 
main ul, 
main dl {
    padding-left: 3em;
    padding-right: 2em;
}

details {
    padding-left: 20%;
    padding-right: 20%;
}

.floatleft {
    float: left;
    padding-right: 2em;
    padding-bottom: 2em;
}

.details {
    overflow: auto;
}

.onethird {
    float: left;
    width: 33%;
}